/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(59, 56, 56);
} */
/* .main-container{
    width:98vw;
    height : 90vh ;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header > h1{
    color :aliceblue;
}
.menu-list> ul {
  display: flex;
  list-style: none;
  margin-top: 10px;
}
.menu-list> ul > li{
    padding: 15px;
    color: darkgoldenrod;
}
.menu-list> ul > li:hover{
   cursor: pointer;
    transform: scale(1.2);
}
.card > img{
  width : 180px ;
  height : 150px ;
}
.card > p {
    text-align: center;
    color:white ;
}
.card>p>span{
    color:white ;
}
.card-container{
    display : flex ;
    flex-wrap: wrap;
    gap : 15px
}
.card:hover{
    transform: scale(1.1);
}
.container{
    width : 90%;
    margin: auto;
} */
.input-conatiner{
    display: flex;
    flex-direction: column;
}
.input-conatiner>label{
    font-size: 18px;
    margin-bottom: 10px;
    color: white ;
}
.input-conatiner>input{
    width: 222px;
    border-radius: 10px;
    height : 30px;
    border: none;
}
.weather-container{
    display : flex ;
    flex-direction: column;
    justify-content: center;
    width:98vw ;
    height :98vh ;
    align-items: center;
    background-color: rgb(42, 41, 41);
}
.elementtorender > p{
   color: rgb(201, 196, 196);
   font-size: 27px;
}